{% extends 'base.html' %}

{% block title %}List Item{% endblock %}

{% block content %}

<div id="content">

<br><br>

<h1>Welcome To Funn.no</h1>
<h2>List an Item</h2><br>

<form action="?" method="GET" onsubmit="addItem();return false;">
	Item Name: <input type="text" id="itemName" value=""/> <br><br>
	Image: <input type="text" id="itemImage" value=""/> <br><br>
	Price: <input type="text" id="itemPrice" value=""/> <br><br>
	<input class="button" type="submit" value="Submit" />
</form>

<br><br>

<p id="stat"></p>

</div>
{% endblock %}
